@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@
<img src="~/Assets/Images/TrainingModule.jpg">

@*@{
    ViewBag.Title = "Dashboard";
}


<div class="row">
    <div class="col-xs-12 page-header">
        <div class="row">
            <div id="ModuleHead" class="col-xs-12">
                <h1>
                    <i class="fa fa-dashboard fa-fw"></i>&nbsp;Dashboard
                </h1>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  
                </div>
                <div class="panel-body">
                    <ul class="nav navbar-nav">
                       
                        @if (TempData["Roles"].ToString() == @System.Configuration.ConfigurationManager.AppSettings["ManagerRole"])
                        {
                            <li><a href="@Url.Action("Add", "Leave")">Apply Leave</a></li>
                            <li><a href="@Url.Action("Manage", "Leave")">View Leave</a></li>
                            <li><a href="@Url.Action("ApproveReject", "Leave")">Approve & Reject Leave</a></li>
                            <li><a href=@Url.Action("LogOut", "Account")>Sign Out</a></li>
                        }

                        @if (TempData["Roles"].ToString() == @System.Configuration.ConfigurationManager.AppSettings["EmployeeRole"])
                        {
                            <li><a href="@Url.Action("Add", "Leave")">Apply Leave</a></li>
                            <li><a href="@Url.Action("Manage", "Leave")">View Leave</a></li>

                            <li><a href=@Url.Action("LogOut", "Account")>Sign Out</a></li>
                        }
                       
                    </ul>
                </div>
               
            </div>
        </div>
    </div>
</div>*@


@*<ul id="menu">
    @foreach (var item in Model)

    {
        <li>
            @Html.ActionLink(@item.PageName, @item.ActionName,
              @item.ControllerName)
        </li>
    }
</ul>*@
@*@model PagedList.IPagedList<ModuleEntity>
@using PagedList.Mvc;

<div class="row">
    <div class="col-xs-12 page-header">
        <div class="row">
            <div id="ModuleHead" class="col-xs-12">
                <h1>
                    <i class="fa fa-dashboard fa-fw"></i>&nbsp;Dashboard
                </h1>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <ul class="nav navbar-nav">

                        @foreach (var item in Model)

                        {
                            <li>
                                @Html.ActionLink(@item.PageName, @item.ActionName,
                               @item.ControllerName)
                            </li>
                        }

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>*@