@model Leaveentiy
@{
   // ViewBag.Title = "Add Leave";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Fromdate").datepicker({ dateFormat: 'dd/mm/yy' });
            //$("#halfdaydate").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#Todate").datepicker({
                dateFormat: 'dd/mm/yy',
               // onSelect: function (dateString, txtDate) {
                    onClose: function (dateString, txtDate) {
                    //TotalCount();
                  

                }
          
            })
         
            $(function () {
                $("#LeaveStatusID").change(function () {
                    debugger
                    var Leavetype = $('#LeaveStatusID').val();
                    var leavecount = $('#leavecount').val();
                    if (Leavetype == '2' && leavecount>'2')
                    {
                        alert('you cannot apply more than 2 Casual Leave');
                    }
                  //  alert($('option:selected', this).text());
                });
            });
            function removeElement(e) {
                let button = e.target;
                let field = button.previousSibling;
                let div = button.parentElement;
                let br = button.nextSibling;
                div.removeChild(button);
                div.removeChild(field);
                div.removeChild(br);

                let allElements = document.getElementById("reqs");
                let inputs = allElements.getElementsByTagName("input");
                for (i = 0; i < inputs.length; i++) {
                    inputs[i].setAttribute('id', 'reqs' + (i + 1));
                    inputs[i].setAttribute('value', (i + 1));
                    inputs[i].nextSibling.setAttribute('id', 'reqsr' + (i + 1));
                }
            }

            function add() {
                let allElements = document.getElementById("reqs");
                let reqs_id = allElements.getElementsByTagName("input").length;

                reqs_id++;

                //create textbox
                //let input = document.createElement('input');
                //input.type = "text";
                //input.setAttribute("class", "w3-input w3-border");
                //input.setAttribute('id', 'reqs' + reqs_id);
                //input.setAttribute('value', reqs_id);
                //let reqs = document.getElementById("reqs");

                let input = document.createElement('input');
                input.type = "date";
                input.setAttribute("class", "form-control");
                input.setAttribute('id', 'reqs' + reqs_id);
                input.setAttribute('value', reqs_id);
                let reqs = document.getElementById("reqs");

                //create remove button
                let remove = document.createElement('button');
                remove.setAttribute('id', 'reqsr' + reqs_id);
                remove.onclick = function (e) {
                    removeElement(e);
                };
                remove.setAttribute("type", "button");
                remove.innerHTML = "Remove";

                //append elements
                reqs.appendChild(input);
                reqs.appendChild(remove);
                let br = document.createElement("br");
                reqs.appendChild(br);
            }
            $(function () {
                $('.always').change(function () {
                    //$('#dates').toggle(!this.checked);
                    $('#dates').toggle(this.checked);
                }).change(); //ensure visible state matches initially
            });

        });
        //leavecount
       // let btnAdd = document.querySelector('#add');
       // let btnAdd = document.querySelector('#btnAdd');
       // let btnSubtract = document.querySelector('#subtract');
       //// let input = document.querySelector('input');
       // let input = document.querySelector('#leavecount');
       // btnAdd.addEventListener('click', () => {
       //     input.value = parseInt(input.value) + 1;
       // });
       // btnSubtract.addEventListener('click', () => {
       //     input.value = parseInt(input.value) - 1;
       // });
       
    </script>


}
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div>
        <button id="subtract">-</button>
        <input type="number" value="0">
        <button id="add">+</button>
    </div>
    <script src="script.js"></script>
</body>
</html>*@

@*<h2>Add</h2>*@
    @using (Html.BeginForm("Add", "Leave", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       
        <div class="row">
            <div class="form-horizontal" role="form">
                <div class="col-sm-12">
                    @Html.ValidationSummary(false, "Please fill up details for the following:", new { @Id = "validationSummary", @class = "alert alert-danger alert-dismissable" })
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            @*<div class="panel-heading">
                <i class="fa fa-line-chart"></i>&nbsp;@ViewBag.Type Career
            </div>*@
            <div class="panel-body">

                @if (ViewBag.Message != "")
                {
                    <div id="msgDisplay" class="@ViewBag.Class">
                        <button data-dismiss="alert" class="close" type="button">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <label id="lblMessage">@ViewBag.Message</label>
                    </div>
                }
                <input type="hidden" id="leaveid" name="leaveid" value="@Model.leaveId" />
                <input type="hidden" id="halfdayid" name="leaveid" value="@Model.halfdayid" />

             

                    @Html.AntiForgeryToken()
                    <div class="container container-height">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-xl-3">

                                        @Html.LabelFor(model => model.Fromdate, new { @class = "col-form-label required-label" })
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-8 col-xl-9">
                                        @Html.TextBoxFor(model => model.Fromdate, new { @id = "Fromdate", @class = "form-control", @maxlength = "25" })
                                        
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-xl-3">

                                        @Html.LabelFor(model => model.Todate, new { @class = "col-form-label required-label" })
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-8 col-xl-9">
                                        @Html.TextBoxFor(model => model.Todate, new { @id = "Todate", @class = "form-control", @maxlength = "25" })
                                       

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-xl-3">

                                        @Html.LabelFor(model => model.leavereason, new { @class = "col-form-label required-label" })
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-8 col-xl-9">
                                        @Html.TextAreaFor(model => model.leavereason, new { @class = "form-control", @maxlength = "250" })
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-xl-3">
                                        @Html.LabelFor(model => model.leavetype, new { @class = "col-form-label required-label" })
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-8 col-xl-9">
                                        @Html.DropDownListFor(O => O.LeaveStatusID, ViewData["LeavetypeDropdown"] as SelectList, "select", new { @id = "LeaveStatusID", @class = "form-control" })
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-xl-3">
                                        @Html.LabelFor(model => model.leavecount, new { @class = "col-form-label" })
                                    </div>
                                    <div class="col-md-8 col-xl-9">
                                        @Html.TextBoxFor(model => model.leavecount, new { @id = "leavecount", @class = "form-control", @maxlength = "25" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-xl-3">

                                        @Html.LabelFor(model => model.Casual_Leave, new { @class = "col-form-label" })
                                    </div>
                                    <div class="col-md-4 col-xl-3">
                                        @Html.TextBoxFor(model => model.Casual_Leave, new { @id = "balanceleave", @class = "form-control", @maxlength = "25" })

                                    </div>
                                    <div class="col-md-2 col-xl-2">

                                        @Html.LabelFor(model => model.PL, new { @class = "col-form-label" })
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        @Html.TextBoxFor(model => model.PL, new { @id = "balancePL", @class = "form-control", @maxlength = "25" })

                                    </div>
                                </div>
                            </div>
                           
                           
                            <label for="coupon_question">Do you want to take half day leave?</label>
                           
                            @Html.CheckBoxFor(model => model.IsHalfdaySelect, new { id = "select_all",@class= "always" })

                            <span class="item-text">Yes</span>

                            <div id="dates" >
                                <br />
                                <div id="TextBoxContainer" placeholder="dd/mm/yyyy">
                                    <!--Textboxes will be added here -->
                                </div>
                                <br />
                                <input id="btnAdd" type="button" value="Add" onclick="AddTextBox()" />


                            </div>

       
                            <div class="panel-footer save-panel">
                           
                                <div class="pull-right">
                                    <a href="@Url.Action("Manage", "Leave")" class="@Validations.ButtonCss.btnCancelMD">
                                        <i class="fa fa-times"></i> Cancel
                                    </a>
                                    <button type="submit" class="@Validations.ButtonCss.btnSaveLG">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </div>
                            
                        </div>


                        </div>

                    </div>
                @*</fieldset>*@
                </div>
                </div>


                }

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $.ajax({
                            type: "GET",
                            url: "/Leave/GetCLBalance",
                            data: JSON.stringify({ balanceleave: balanceleave }),
                            contentType: "application/json; charset=utf-8",
                            //dataType: "json",
                            success: function (data) {
                                debugger
                                console.log(data);

                                if (data != null) {
                                    $('[id*=balanceleave]').val(data);
                                    //$('#balanceleave').val(response.balanceleave);

                                } else {
                                    alert("Something went wrong");
                                }
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });
                        $.ajax({
                            type: "GET",
                            url: "/Leave/GetPLBalance",
                            data: JSON.stringify({ balancePL: balancePL }),
                            contentType: "application/json; charset=utf-8",
                            //dataType: "json",
                            success: function (data) {
                                if (data != null) {
                                    $('[id*=balancePL]').val(data);
                                    //$('#balanceleave').val(response.balanceleave);

                                } else {
                                    alert("Something went wrong");
                                }
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });

                        $(function () {
                            $('[id*=Todate]').on('change', function () {

                                var val1 = $('#Fromdate').val();
                                var val2 = $('#Todate').val();

                                $.ajax({
                                    type: "GET",
                                    url: "/Leave/CalculateleaveDays",
                                    //data: JSON.stringify({ leavecount: leavecount }),
                                    contentType: "application/json; charset=utf-8",
                                   // dataType: "json",
                                    data: JSON.stringify({ val1: val2 }),
                                    data: "Fromdate=" + val1 + "&Todate=" + val2,
                                    success: function (data) {
                                        debugger

                                        if (data != "") {
                                            console.log(data);

                                            $('[id*=leavecount]').val(data);
                                        }

                                        else {
                                            $('[id*=leavecount]').val('');
                                        }
                                    }
                                });
                            });
                        });
                      

                    });


                </script>
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    function GetDynamicTextBox(value) {
                        var div = $("<div />");

                        //var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox").attr("placeholder", "dd/mm/yyyy").attr("id", "halfday");
                        var textBox = $("<input />").attr("type", "date").attr("name", "DynamicTextBox").attr("placeholder", "dd/mm/yyyy").attr("id", "halfday");
                        textBox.val(value);
                        div.append(textBox);

                        var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("id", "subtract");
                        button.attr("onclick", "RemoveTextBox(this)");
                        div.append(button);

                        return div;
                    }
                    //
                    //
                    function AddTextBox() {
                        var div = GetDynamicTextBox("");
                        $("#TextBoxContainer").append(div);
                    }

                    function RemoveTextBox(button) {
                        $(button).parent().remove();
                    }

                    $(function () {
                        var values = eval('@Html.Raw(ViewBag.Values)');
                        if (values != null) {
                            $("#TextBoxContainer").html("");
                            $(values).each(function () {
                                $("#TextBoxContainer").append(GetDynamicTextBox(this));
                            });
                        }
                    });
                </script>
               



