@model Common.Entity.Leaveentiy

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts{
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Fromdate").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#Todate").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
    @*$( ".selector" ).datepicker({ dateFormat: 'yy-mm-dd' });*@

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 page-header">
            <div class="row">
                <div id="ModuleHead" class="col-xs-8">
                    <h1>
                        <i class="fa fa-user"></i>&nbsp;@ViewBag.Type User
                    </h1>
                </div>
                <div class="col-xs-4 pull-right text-right">
                    <div class="icon-menu">
                        <a href="@Url.Action("Manage", "Leave")" title="Manage Users" data-placement="bottom">
                            <span aria-hidden="true" class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-horizontal" role="form">
            <div class="col-sm-12">
                @Html.ValidationSummary(false, "The following error occurred:", new { @Id = "validationSummary", @class = "alert alert-danger alert-dismissable" })
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-user"></i>&nbsp;@ViewBag.Type User
        </div>
        <div class="panel-body">
            @if (ViewBag.Message != "")
            {
                <div id="msgDisplay" class="@ViewBag.Class">
                    <button data-dismiss="alert" class="close" type="button">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <label id="lblMessage">@ViewBag.Message</label>
                </div>
            }
            <input type="hidden" id="UserID" name="UserID" value="@Model.leaveId" />
            <div class="form-horizontal" role="form">

                <div class="form-group">
                    @Html.LabelFor(model => model.Fromdate, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control col-md-2", @placeholder = "Enter First Name", @maxlength = "100" })
                            <span class="input-group-addon"><span class="req">*</span></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Todate, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Todate, new { @class = "form-control col-md-2", @placeholder = "Enter Last Name", @maxlength = "100" })
                            <span class="input-group-addon"><span class="req">*</span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.leavereason, new { id = "txtEmail", @class = "form-control col-md-2", @placeholder = "Enter Email", @maxlength = "250" })
                            <span class="input-group-addon"><span class="req">*</span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-xl-3">

                            @Html.LabelFor(model => model.leavereason, new { @class = "col-form-label required-label" })
                        </div>
                        <div class="col-md-8 col-xl-9">
                            @Html.TextAreaFor(model => model.leavereason, new { @class = "form-control", @maxlength = "250" })
                            @Html.ValidationMessageFor(model => model.leavereason, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-xl-3">

                            @Html.LabelFor(model => model.Leavetypeid, new { @class = "col-form-label required-label" })
                        </div>
                        <div class="col-md-8 col-xl-9">
                            @Html.DropDownListFor(model => model.leavetype, ViewData["Equip"] as SelectList, "Select", new { @class = "form-control", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.Leavetypeid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-xl-3">
                            @Html.LabelFor(model => model.leavetype, new { @class = "col-form-label required-label" })
                        </div>
                        <div class="col-md-8 col-xl-9">
                            @Html.DropDownListFor(model => model.leavetype, new List<SelectListItem> {
                                      new SelectListItem { Text = "Please select leave type", Value = "0" },
                                    new SelectListItem { Text = "CL", Value = "1" },
                                     new SelectListItem { Text = "PL", Value = "2" },
                                    new SelectListItem { Text = "Compoff leave", Value = "3" },
                                     new SelectListItem { Text = "maternity leave", Value = "4" },
                                      new SelectListItem { Text = "Paternity leave", Value = "5" }
                   }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.leavetype, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
                @*<div class="form-group">
                    @Html.LabelFor(model => model.EquipmentCategory, new { @class = "col-sm-2 control-label no-padding-right" })
                    <div class="col-sm-10">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.EquipmentCategory, ViewData["Equip"] as SelectList, "Select", new { @class = "form-control", @maxlength = "50" })
                            <span class="input-group-addon"><span class="req">*</span></span>
                        </div>
                        @Html.ValidationMessageFor(p => p.EquipmentCategory, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-xl-3">

                            @Html.LabelFor(model => model.leavebalance, new { @class = "col-form-label" })
                        </div>
                        <div class="col-md-8 col-xl-9">
                            @Html.TextBoxFor(model => model.leavebalance, new { @class = "form-control", @maxlength = "25" })
                            @*@Html.ValidationMessageFor(model => model.leavebalance, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <
                @*<div class="form-group">
                    @Html.LabelFor(model => model.RoleID, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.RoleID, ViewData["Permission"] as SelectList, new { @ID = "ddlRole", @class = "form-control col-md-2" })
                            <span class="input-group-addon"><span class="req">*</span></span>
                        </div>
                    </div>
                </div>*@
             
            </div>
            <div class="panel-footer save-panel">
                
                
                    <div class="pull-right">
                        <a href="@Url.Action("Manage", "User")" class="@Validations.ButtonCss.btnCancelMD">
                            <i class="fa fa-times"></i> Cancel
                        </a>
                        <button type="submit" class="@Validations.ButtonCss.btnSaveLG">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                
            </div>
        </div>
    </div>
}