
@model PagedList.IPagedList<Leaveentiy>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Manage Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Manage", "Leave", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12 page-header">
            <div class="row">

                <div class="col-sm-4">
                <label>
                    From Date:
                </label>
                <div class="form-group">
                    @Html.TextBox("FromDate", "", new { @class = "form-control", @maxlength = "100" })
                </div>
            </div>
            <div class="col-sm-4">
                <label>
                    To date:
                </label>
                <div class="form-group">
                    @Html.TextBox("ToDate", "", new { @class = "form-control", @maxlength = "100" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label></label>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </div>
               
            </div>
        </div>
    </div>

    if (ViewBag.Message != "")
    {
        <div id="msgDisplay" class="@ViewBag.Class">
            <button data-dismiss="alert" class="close" type="button">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <label>@ViewBag.Message</label>
        </div>
    }
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <tr class="text-center">
                        <th class="text-center">From Date</th>
                        <th class="text-center">To Date</th>
                        <th class="text-center">Leave Reason</th>
                        <th class="text-center">Leave Type</th>
                        <th class="text-center">Total Days</th>
                       
                            <th class="text-center">Action</th>
                        
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Fromdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Todate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.leavereason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.leavecount)
                            </td>

                            <td class="text-center">


                                <span>
                                    <a href="@Url.Action("Add", new { User = clsEncrypt.Encrypt(item.leaveId.ToString()) })" title='Edit'>
                                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                    </a>
                                </span>

                                <span>
                                    <a href="@Url.Action("Delete", new { User = clsEncrypt.Encrypt(item.leaveId.ToString()) })" onclick="return ShowConfirmation(event,this,'You want to delete this record?')" title='Delete'>
                                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
         
                                    </a>
                                </span>


                            </td>
                        </tr>
                    }
                    @Html.Partial("Paging")
                </table>
            </div>
        </div>
    
}